<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            margin:10px;
            width: 150px;
            box-sizing: border-box;
        }
        #small {
            border: 10px solid black;
        }
        #large {
            border: 30px solid black;
        }
    </style>
</head>
<body>
    <div id="small">Hello</div>
    <div id="large">Hello</div>
</body>
</html>
<!--
    content값이 width값임
    border값이 빠지고
    그래서 생긴게 box-sizing: content-box;가 기본값인걸
    box-sizing: border-box;
    로 보더 기준으로 크기를 잡아 예측하기 쉬워짐
-->