<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            border: 1px solid gray;
        }
        div {
            margin: 10px;
            border: 5px solid tomato;
        }
        #me {
            position: relative;
            top: 100px;
            left: 100px;
        }
    </style>
</head>
<body>
    <div id="other">other</div>
    <div id="parent">
        parent
        <div id="me">me</div>
    </div>
</body>
</html>
