<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #parent, #other {
            border: 5px solid tomato;
        }
        #me {
            background-color: black;
            color: white;
            position: absolute; 
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <div id="other">other</div>
    <div id="parent">
        parent
        <div id="me">me</div>
    </div>
</body>
</html>
