@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
/* 스타일 초기화 */
.resetMargin {
  margin: 0;
}
.resetList {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.resetBox {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.buttonNone {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.button {
  cursor: pointer;
}
/* 숨김 콘텐츠 */
.a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}
/* 기본 스타일 */
html {
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-size: 1.6rem;
  /* font-family: 'Times New Roman', Times, serif; */
}
/* 모바일 & 데스크탑 공통 */
.appHeader {
}
.appNavigation {
  background-color: orange;
}
.appMain {
  background-color: lime;
}
.appFooter {
  background-color: purple;
}

/* 공통 디바이스 */
.container {
  display: flex;
  flex-flow: row wrap;
}
.appMain {
  display: flex;
  flex-flow: row wrap;
}
/* 공통 헤더 */
.appHeader {
  padding-bottom: 20px;
}
/* 공통 브랜드 */
.brand a {
  display: block;
  outline-offset: -5px;
}
.brand img {
  padding: 10px 0;
}
/* 공통 멤버링크 */
.memberOnly {
  text-align: right;
}
.memberOnly li {
  display: inline-block;
  line-height: 30px;
}
/* 공통 검색 폼 */
[type="search"],
.buttonSearch {
  vertical-align: middle;
}
[type="search"] {
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 30px;
  padding: 2px 5px;
  margin-right: 5px;
}
.buttonSearch {
  color: #fff;
}
@media screen and (max-width: 999px) {
  /* 모바일 디바이스 */
  .appHeader,
  .appMain,
  .appFooter {
    width: 100%;
  }
  
  /* 모바일 헤더 */
  .appHeader {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    background: rgb(56, 48, 46);
  }
  .brand,
  .memberOnly,
  .searchForm {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* 모바일 멤버링크 */
  .memberOnly {
    order: -1;
    background-color: rgb(152, 133, 116);
    color: #fff;
  }
  /* 모바일 검색 폼 */
  [type="search"] {
    width: calc(100% - 40px);
  }
  .buttonSearch {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    position: relative;
  }
  .buttonSearch::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/btn_search.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  /* 모바일 메인 메뉴 */
  .buttonBurger {
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: blue;
  }
  .burgerBar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    transition: all 1s;
    background-color: #fff;
  }
  .round {
      border-radius: 30px;
  }
  .positionTop {
    top: 0;
  }
  .positionMiddle {
    top: 50%;
    transform: translate(-105%, -50%);
  }
  .positionBottom {
    top: 100%;
    transform: translateY(-100%);
  }

  .isAct .positionTop {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
  }
  .isAct .positionMiddle {
      transform: translateX(-105%);
  }
  .isAct .positionBottom {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
  }
  /* .appNavigation.menu .buttonBurger .burgerBar{
    position: absolute;
    display: block; 
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.5s;
  }
  .appNavigation.menu .buttonBurger .burgerBar.positionTop {
    top: 1px;
  }
  .appNavigation.menu .buttonBurger .burgerBar.positionMiddle {
    top: 50%;
    margin-top: -2px;
  }
  .appNavigation.menu .buttonBurger .burgerBar.positionBottom {
    bottom: 1px;
  }

  .appNavigation.menu.isAct .buttonBurger .burgerBar {
    top: 50%;
    margin-top: -2px;
  }
  .appNavigation.menu.isAct .buttonBurger .burgerBar.positionTop {
    
    transform: rotate(45deg);
  }
  .appNavigation.menu.isAct .buttonBurger .burgerBar.positionMiddle {
    width: 0;
  }
  .appNavigation.menu.isAct .buttonBurger .burgerBar.positionBottom {
    transform: rotate(-45deg);
  } */
  .appNavigation-list {
      display: none;
  }
  .appMain {
    height: 70vh;
  }
  .book,
  .news,
  .board,
  .twitter,
  .favorite {
    width: 100%;
    height: 20%;
  }
  .appFooter {
    height: 15vh;
  }
}
@media screen and (min-width: 1000px) {
  /* 데스크탑 디바이스 */
  .container {
    justify-content: center;
  }
  .appHeader,
  .appMain {
    width: 1000px;
  }
  .appNavigation,
  .appFooter {
    width: 100%;
  }
  /* 데스크탑 헤더 */
  .appHeader {
    position: relative;
  }
  /* 데스크탑 브랜드 */
  .brand {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -40px;
  }
  /* 데스크탑 멤버 링크 */
  .memberOnly {
    padding: 10px 0;
  }
  /* 데스크탑 검색 폼 */
  .searchForm {
    text-align: right;
  }
  [type="search"] {
    width: 40%;
  }
  .buttonSearch {
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #988574;
    padding: 0 1rem;
    height: 30px;
  }
  /* 데스크탑 메인 메뉴 */
  .buttonBurger {
      display: none;
  }

  .appNavigation {
    padding: 10px 0;
  }
  
  .appNavigation-list {
      font-size: 0;
  }
  .appNavigation-list > li {
    display: inline-block;
    width: 20%;
    font-size: 1.4rem;
    line-height: 1.8;
  }
  .appNavigation-list .submenu {
      
  }
  .appMain {
    height: 60vh;
    justify-content: space-between;
  }
  .book {
    width: 320px;
  }
  .news {
    width: 660px;
  }
  .board {
    width: 320px;
  }
  .twitter {
    width: 400px;
  }
  .favorite {
    width: 240px;
  }
  .appFooter {
    height: 10vh;
  }
}