<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            border-width: 10px;
            border-style: solid;
            border-color: red;
            border: 10px solid red;
            padding: 20px;
            margin: 40px;
            width: 50px; 
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam ipsa eos aut consectetur, laudantium reiciendis perspiciatis maxime ad officia aliquam facere quis at vero saepe praesentium, fugit delectus mollitia ea.</p> <!-- paragraph 약자-->
</body>
</html>

<!--
    테두리는 박스모델의 기준점이 된다.
    인라인은 width/height값을 무시한다.
-->